<!DOCTYPE HTML>
<HTML>
    <head>
        <title>Fetching Simulator</title>
        
        <link rel='stylesheet' href='/styles.css' />
        <link rel='stylesheet' href='/favicon.ico' />
    </head>
    
    <body>
        <div class='container'>
            <h1>Are you in the wrong page?</h1>
            <p>This page isn't found, are you sure you entered the correct address?</p>
        </div>
    </body>
</HTML>
